<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fixed Sidebar</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">

    <!-- Sidebar (Fixed) -->
    <div id="mySidebar" class="fixed left-0 top-0 h-full w-[15%] bg-white shadow-md p-4">
        <!-- Logo -->
        <div class="flex gap-4 p-2 items-center">
            <img src="<%= asset_path('Vector.svg') %>" class="w-8 md:w-10" alt="icon">
            <p class="text-2xl md:text-4xl font-serif font-semibold text-gray-800">Maze</p>
        </div>

        <!-- Menu Items -->
        <ul class="mt-6 space-y-2 font-medium">

          <li>
        <%= link_to feed_path, class: "flex items-center p-4 text-black hover:text-white rounded-lg bg-white hover:bg-[#377DFF] group" do %>
            <svg class="shrink-0 w-5 h-5 text-black transition duration-75  group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                  <path d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"/>
               </svg>
            <span class="flex-1 ms-3">Feed</span>
        <% end %>
    </li>

    <li>
        <%= link_to profile_path, class: "flex items-center p-4 text-black hover:text-white rounded-lg bg-white hover:bg-[#377DFF] group" do %>
            <img src="<%= asset_path('profile.svg') %>" class="w-4shrink-0 w-5 h-5 text-black transition duration-75 group-hover:text-white" aria-hidden="true" fill="currentColor" viewBox="0 0 20 18" alt="icon">

            <span class="flex-1 ms-3">Profile</span>
        <% end %>
    </li>



    <% if current_user&.admin? %>
        <li>
            <%= link_to manage_users_path, class: "flex items-center p-4 text-black hover:text-white rounded-lg bg-white hover:bg-[#377DFF] group" do %>
                <svg class="shrink-0 w-5 h-5 text-black transition duration-75 group-hover:text-white" aria-hidden="true" fill="currentColor" viewBox="0 0 20 18">
                    <path d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
                </svg>
                <span class="flex-1 ms-3">Manage Users</span>
            <% end %>
        </li>

    <%= link_to reports_path, class: "flex items-center p-4 text-black hover:text-white rounded-lg bg-white hover:bg-[#377DFF] group" do %>
        <img src="<%= asset_path('report.svg') %>" class="w-4 shrink-0 w-5 h-5 text-black transition duration-75 group-hover:text-white" alt="icon">
        <span class="flex-1 ms-3">Reports</span>
    <% end %>
    </li>
    <% end %>



          

<li>
      <%= link_to destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, 
                   class: "flex items-center p-4 text-black rounded-lg bg-white hover:text-white hover:bg-[#377DFF] group" do %>
        <svg class="shrink-0 w-5 h-5 text-black transition duration-75 group-hover:text-gray-900 dark:group-hover:text-white" 
             aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3"/>
        </svg>
        <span class="flex-1 ms-3 whitespace-nowrap">Log Out</span>
      <% end %>
    </li>
        </ul>
    </div>

   

</body>
</html>
