document.getElementById("user-<%= @user.id %>").innerHTML = `
  <td class="py-3 px-6 text-left flex items-center text-md">
    <div class="<%= @user.active? ? 'text-green-500' : 'text-red-500' %>">●</div>
    &nbsp; <%= @user.first_name %> <%= @user.last_name %>
  </td>
  <td class="py-3 px-6 text-center"><%= @user.phone_number %></td>
  <td class="py-3 px-4 text-center"><%= @user.email %></td>
  <td class="py-3 px-6 text-center">
    <a href="<%= toggle_status_user_path(@user) %>" data-remote="true" data-method="patch" class="<%= @user.active? ? 'text-white bg-red-400 hover:bg-red-600' : 'text-white bg-green-400 hover:bg-green-600' %> px-4 py-2.5 rounded-full">
      <%= @user.active? ? 'Deactivate' : 'Activate' %>
    </a>
  </td>
`;
