<h2>List of Users</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %> <%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone_number %></td>
      
        <td>
  <% if user.active? %>
    <%= button_to "Deactivate", deactivate_admin_user_path(user), method: :post, class: "btn btn-danger" %>
  <% else %>
    <%= button_to "Activate", activate_admin_user_path(user), method: :post, class: "btn btn-success" %>
  <% end %>
</td>

        

      </tr>
    <% end %>
  </tbody>
</table>
